# Compiler
/compiler/ecpps/src/CodeGeneration/*      @ECPPS/compiler @ECPPS/backend
/compiler/ecpps/src/Linker/*      @ECPPS/compiler @ECPPS/backend
/compiler/ecpps/src/Machine/*      @ECPPS/compiler @ECPPS/backend

/compiler/ecpps/src/Execution/*      @ECPPS/compiler @ECPPS/backend @ECPPS/frontend
/compiler/ecpps/src/Shared/*      @ECPPS/compiler @ECPPS/backend @ECPPS/frontend
/compiler/ecpps/src/TypeSystem/*      @ECPPS/compiler @ECPPS/backend @ECPPS/frontend

/compiler/ecpps/src/Parsing/*      @ECPPS/compiler @ECPPS/frontend
/compiler/*          @ECPPS/compiler

# Library
/stdlib/*            @ECPPS/library

# QA
/testing/*           @ECPPS/testing
